html {
	height: 100%;
}
body {
	height: 100%;
	background: -webkit-linear-gradient(#1e88e5, #00796b); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#1e88e5, #00796b); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#1e88e5, #00796b); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#1e88e5, #00796b); /* Standard syntax */
  	background-repeat: no-repeat;
  	background-attachment: fixed;
}