.jobtitle{
	text-align: center;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  max-height: 480px;
  margin: auto;
}

.jobDescription{
	text-align: center;
	background: -webkit-linear-gradient(#FFF8DC, #efefec, #FFF8DC); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#FFF8DC, #efefec, #FFF8DC); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#FFF8DC, #efefec, #FFF8DC); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#FFF8DC, #efefec, #FFF8DC); /* Standard syntax */
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 1%;
}