.listContainer{
	margin: 0 auto;
	width: 100%;
	height: 100%;
	margin-top: 20px;
}

.media-list{
	margin: 0 auto;
	width: 80%;
	height: 80%;
}

.media-object{
	width: 64px;
	height: 64px;
}

a{
	display: block;
}