.container{
	margin: 0 auto;
	display: block;
	width: 70%;
	height: 100%;
	padding: 10px;
}

.textEntry{
	margin: 0 auto;
	width: 100%;
	height: 80%;
}

.imageEntry{
	margin: 0 auto;
	width: 100%;
	height: 20%;
	padding-top: 15%;
}

#jobdesc{
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

#clearBtn{
}

#submitBtn{
}